Title: "About"
---
<h1>@Document.GetTitle()</h1>
<p>
    Bishop Classic Motors was founded in 2020 when two partners came together to merge one's decades of experience in
    classic auto restoration with the other's skills in operations and management.
</p>
<p>
    Matt Bishop, majority partner, has worked in the technology space for over fifteen years. He has founded software
    companies, managed growth during numerous major industry events, and navigated successful acquisitions and
    public stock market listings. He brings his knowledge of where the craft of auto restoration and sales can go.
</p>
<p>
    Miro Herdic, partner, has been restoring cars for 20 years. Originally from Bosnia, he moved to Germany as a
    teenager and fell in love with the Mercedes-Benz brand. He has completed hundreds of vehicle projects across
    30+ model years. He brings an intense amount of detailed knowledge of vintage vehicles and their care to deliver
    impeccable results that look just like they came off the original factory floor.
</p>
