Title: "Finishing Room"
---
<h1>@Document.GetTitle()</h1>
<p>
    The finishing room, next to the showroom, is used for final "fit and finish" of vehicles that are nearly ready
    for delivery or sale. Separate from the workshop that handles major work, finishing activites include but are not
    limited to:
</p>
<ul>
    <li>
        carpet installation
    </li>
    <li>
        seat installation
    </li>
    <li>
        waxing
    </li>
    <li>
        tires
    </li>
    <li>
        vacuuming and cleaning
    </li>
</ul>
<p>Pictures of all these capabilities coming soon upon completion of the renovation.</p>
