Title: "Finishing Room"
---
<h1>@Document.GetTitle()</h1>
<p>
    The finishing room, located next to the <a href="xref:showroom">showroom</a>, is used and on display for the final
    "fit and finish" of vehicles that are nearly ready for delivery or sale. Separate from the workshop that handles
    major work, finishing and installation activites include but are not limited to:
</p>
<ul>
    <li>
        carpet
    </li>
    <li>
        steel and wood trim
    </li>
    <li>
        glass and windshields
    </li>
    <li>
        seats
    </li>
    <li>
        lighting
    </li>
    <li>
        buffing and waxing
    </li>
    <li>
        tires
    </li>
    <li>
        vacuuming and cleaning
    </li>
</ul>
<p>
    Finishing work such as the above is a part of our overall <a href="xref:restoration">restoration</a> process to
    deliver <a href="xref:work">world-class vehicles</a>.
</p>
