Title: "Home"
Home: true
---
<img src="/assets/logo.svg" alt="Logo" class="img-fluid pb-2 mx-auto d-block">

<p class="fst-italic text-center">
    Restoration. Preservation. Legacy.
</p>
<p>
    Bishop Classic Motors is an auto restoration shop and dealership, specializing in vehicles from 1979 and
    earlier. We pride ourselves in the exceptional care we provide to clients and the classic vehicles we restore
    and preserve. Serving both domestic and international markets since 2002, we take vehicles in almost any condition
    and bring them back to life for later resale.
</p>
<p>
    Our showroom and finishing room are located at:
</p>
<address class="m-5">
    305 E 1st St<br>
    Jacksonville, FL 32206<br>
    <a href="tel:+19042573390">(904) 257-3390</a>
</address>
<p>
    We maintain a professional workshop for all our projects.
</p>
<p>
    Please <a href="mailto:sales@bishopclassicmotors.com">contact us</a> with any inquiries.
</p>
