Title: "Home"
Home: true
---
<img src="/assets/logo.svg" alt="Logo" class="img-fluid p-5 pb-2 mx-auto d-block">

<p class="fst-italic text-center">
    Restoration. Preservation. Legacy.
</p>
<p>
    Bishop Classic Motors is an auto restoration shop and dealership, specializing in European vehicles from 1979 and
    earlier. We pride ourselves in the exceptional care we provide to clients and the classic vehicles we restore
    and preserve. Serving both domestic and international markets since 2002, we take vehicles in almost any
    condition and bring them back to life for later resale.
</p>
<p>
    Our <a href="xref:showroom">showroom</a> and <a href="xref:finishing-room">finishing room</a> are located at:
</p>
<address class="mx-5">
    305 E 1st St<br>
    Jacksonville, FL 32206
</address>
<p>
    We maintain a clean, organized, and professional <a href="xref:workshop">workshop</a> dedicated to our
    restoration projects, large and small.
</p>
<p>
    When featured online we list our vehicles on <a href="https://bringatrailer.com/member/bishopclassicmotors/">Bring A
        Trailer</a>, <a href="https://www.ebay.com/sch/bishopclassicmotors/m.html">eBay Motors</a>, and <a
        href="https://www.hemmings.com/classifieds/cars-for-sale?q=bishop+classic+motors">Hemmings</a>.
</p>
<p>
    Please contact us with any inquiries:
</p>
<address class="mx-5">
    <a href="mailto:sales@bishopclassicmotors.com">sales@bishopclassicmotors.com</a> via email<br>
    <a href="tel:+19042573390">(904) 257-3390</a> via phone, text, or WhatsApp
</address>

