Title: "Used Classics"
---
<h1>@Document.GetTitle()</h1>
<p>
    In addition to projects, the team works with other fine used vehicles that either need small amounts of work or are
    entirely ready to go. Upon the renovation of our new showroom the business will showcase several dozen fine
    classics available for direct sale and <a href="xref:transportation">delivery</a>. We maintain and sell these
    alongside our restoration projects to offer a complete classic car experience.
</p>
