Title: "Workshop"
---
<h1>@Document.GetTitle()</h1>
<p>
    Body, drivetrain, and paint work occurs at our workshop. Located separately from the showroom and finishing
    room, services also include but are not limited to:
</p>
<ul>
    <li>
        welding
    </li>
    <li>
        sheet metal forming
    </li>
    <li>
        composites fabrication
    </li>
    <li>
        specialized woodwork
    </li>
    <li>
        electronics installation
    </li>
    <li>
        engine rebuilding
    </li>
    <li>
        general repair
    </li>
</ul>
<p>
    Major work such as the above is a part of our overall <a href="xref:restoration">restoration</a> process to deliver
    <a href="xref:work">world-class vehicles</a>.
</p>
