Title: "Workshop"
---
<h1>@Document.GetTitle()</h1>
<p>
    Major body, drivetrain, and paint work occurs at our workshop. Located separately from the showroom and finishing
    room, services include but are not limited to:
</p>
<ul>
    <li>
        welding
    </li>
    <li>
        sheet metal forming
    </li>
    <li>
        composites fabrication
    </li>
    <li>
        specialized woodwork
    </li>
    <li>
        electronics installation
    </li>
    <li>
        engine rebuilding
    </li>
    <li>
        general repair
    </li>
</ul>
<p>Pictures of all these capabilities coming soon.</p>
