Title: "1963 Mercedes-Benz 190c"
VehicleId: "15"
Model: "190-Series"
Engine: "M121 1,9"
Transmission: "4-speed MANUAL"
ExteriorColor: "DB 158 White-Grey"
InteriorColor: "Red LEATHER"
---
<h1>@Document.GetTitle()</h1>

@Html.Partial("_Details.cshtml", Document)
