Title: "1963 Mercedes-Benz 220SEb Cabriolet"
VehicleId: "17"
Model: "200-Series"
Engine: "M127"
Transmission: "4-speed AUTOMATIC"
ExteriorColor: "DB 534 Fire Engine Red"
InteriorColor: "Black leather 'safari' seats"
---
<h1>@Document.GetTitle()</h1>

@Html.Partial("_Details.cshtml", Document)
