Title: "1966 Mercedes-Benz 250S"
VehicleId: "19"
Model: "200-Series"
Engine: "M108 2,5"
Transmission: "4-speed MANUAL"
ExteriorColor: "Stunning DB 542 Dark Red"
InteriorColor: "BLACK MB-Tex (vinyl)"
---
<h1>@Document.GetTitle()</h1>

@Html.Partial("_Details.cshtml", Document)
